.App {
  text-align: center;
}

.Todolist {
  padding: 10px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: left;
  background-color: aquamarine;
}

.Todolist ul {
  list-style: none;
  padding: 0;
}

.Todolist li {
  margin-bottom: 10px;
}

.Todolist input[type="checkbox"] {
  margin-right: 5px;
}
.error {
  border: red 1px solid;

}
.error-message{
  color:red;
}
.btn{
  background-color: hotpink;
}